/! Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white"
- if user_signed_in?
  = link_to "Dashboard", root_path, class: "text-base font-medium text-gray-500 hover:text-gray-900"
a.text-base.font-medium.text-gray-500.hover:text-gray-900 href="#" Team
a.text-base.font-medium.text-gray-500.hover:text-gray-900 href="#" Projects
a.text-base.font-medium.text-gray-500.hover:text-gray-900 href="#" Calendar
